.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: -2px;
    /* background-color: orange; */
}

.headerAction {
    height: 26px;
    width: 26px;
    display: grid;
    place-content: center;
    color: #a3a3a3;
    border: none;
    background: transparent;
    position: relative;
    cursor: pointer;
    padding: 0;
    transition: background 100ms ease;
    border-radius: 6px;
    /* background-color: red; */
}

.headerAction:hover {
    /* background-color: ; */
    /* color: white; */
    background: rgba(255, 255, 255, 0.025);
}

.headerAction::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.headerSpacer {
    height: 24px;
    width: 24px;
    /* background-color: orange; */
}

.headerTitle {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    font-family: var(--diatype);
    color: white;
}